@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Poppins:wght@200;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #111010;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    padding-bottom: 0;
    
}
.logo img{
    width: 50px;
    filter: invert(13%) sepia(77%) saturate(6948%) hue-rotate(359deg) brightness(98%) contrast(112%);

}
.nav-list{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style: none;
    margin-right: 90px;
}
.nav-list>li:first-child>a{
    display: flex;
    align-items: center;
    gap: 2px;
}
.nav-list>li>a{
    font-size: 14px;
    text-decoration: none;
    color: #f4f5f4;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.nav-list>li{
    display: flex;
    gap: 3px;
    align-items: center;
}

.nav-list>li>img{
    position: relative;
    top: 1.5px;
    height: 10px;
}

/* ----------hero section--------- */
.hero-section{
    display: flex;
    flex-direction: row;
    padding: 40px 70px;
}
.hero-left{
    width: 50%;
}
.hero-left img{
    width: 650px;
}
.hero-right{
    width: 80%;
    margin-top: 230px;
    color: white;
    font-family:sans-serif;
}
.hero-right h4{
    color: #C91B28;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
}
.hero-right h1{
    font-size: 3.5rem;
    margin-top: 5px;
}
.hero-right p{
    width: 500px;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.btn{
    width: 150px;
    padding: 12px ;
    color: white;
    background-color: #C91B28;
    border: 2px solid #C91B28;
    border-radius: 2px;
}

/* ---------section 1----------- */
.section-1{
    padding-top: 80px;
    position: relative;
    padding-bottom: 80px;
    z-index: 1;
}
.section-1::before{
    content: '';
    display: block;
    height: 860px;
    width: 780px;
    position: absolute;
    background-color: #191819;
    z-index: -1;
    top: 0;
    z-index:-1;
    top: 0px;
}
.cards{
    display: flex;
    flex-direction: row;
    padding:0 200px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.card{
    width: 350px;
    height: 350px;
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 40px;
    color: white;
    font-family:sans-serif;
}
.card h4{
    margin: 15px 0;
    font-size: 30px
}
.card p{
    margin-bottom: 25px;
}
.card a{
    color: #C91B28;
    font-weight: 600;
}
.card a:link{
    text-decoration: none;
}


.analytics{
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 150px;
    font-family: 'Poppins';
    font-weight: 900;
    padding: 0 300px;
}
.a-left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-left>h1{
    color: #ff0000;
    font-size: 90px;
    height: 90px;
    font-weight: 900;
}

.a-left>h4{
    text-align: center;
    width: 190px;
    color: #f4f5f4;
    font-size: 20px;

}



.a-right{
    display: grid;
    grid-template-areas: 'card1 card2'
    'card3 card4';
    gap: 20px;
}
.a-card{
    background-color: #1e1e1e;
    padding: 35px 75px;
    text-align: center;
}
.a-card h4{
    color: #C91B28;
    font-size: 35px;
}
.a-card p{
    color: white;
    width: 180px;
    font-family: sans-serif;
}

/* ---------section 2---------- */

.section-2{
    padding: 40px 190px;
}
.sec-2-head{
    display: flex;
    font-family: sans-serif;
    padding: 20px 0px;
    justify-content: space-between;
    color: white;
}
.sec-2-head >div >h1{
    text-transform: uppercase;
    font-size: 35px;
}
.sec-2-head >div>p{
    font-size: 15px;
}
.sec-2-btn{
    width: 170px;
}
.sec-2-cards{
    display: grid;
    grid-template-areas: 'sec-2-card1 sec-2-card2'
    'sec-2-card3 sec-2-card4';
    gap: 20px;
}
.sec-2-card{
    width: 500px;
    font-family: sans-serif;

}
.sec-2-card img{
    width: 558px;
    height: 330px;
    padding:50px 15px;
    margin: 20px 0;
    background-color: #1e1e1e;
}
.sec-2-card h4{
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}
.sec-2-card a{
    color: #C91B28;
    font-weight: 600;
    font-size: small;
}
.sec-2-card a:link{
    text-decoration: none;
}

/* ------section 3------------ */
.section-3{
    display: flex;
    justify-content: space-between;
    margin: 0 190px;
    padding: 40px 40px;
    background-color: #1e1e1e;
    align-items: center;
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
}
.s-3-left{
    width: 90%;

}
.s-3-left h1{
    font-size: 3.2rem;
    width: 626px;
}
.s-3-left p{
    width: 590px;
    font-size: 15px;
    margin:10px 0;
}
.section-3 button{
    margin-right: 60px;
}

footer{
    padding-top: 40px;
}
footer .div1{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white; 
    font-family: sans-serif;
    padding:20px 0;
}
footer .div2{
    display: flex;
    flex-direction: row;
    padding: 30px 190px;
    justify-content: space-between;
    background-color: #1e1e1e;
}
.social-media img{
    margin-right: 60px;
}


@media screen and (max-width:1200px){
    nav>.nav-list{
        margin-right: 0px;
    }
    .hero-right{
        width: 50%;
    }
    .hero-right>h4{
        font-size: 15px;
    }
    .hero-right>h1{
        font-size: 30px;
    }
    .hero-right>p{
        width: 400px;
    }
    .a-card{
        padding: 20px;
    }
    .section-2{
        padding: 40px 17px;
    }

}
@media screen and (max-width:1100px){
    .hero-left{
        width: 60%;
    }
    .hero-left >img{
        width: 550px;
    }
    .a-card{
        padding: 5px;
    }
    .analytics{
        gap: 50px;
    }
    .sec-2-card>img{
        width: 515px;
    }
    .social-media>img{
        margin-right: 20px;
    }
}
@media screen and (max-width:1000px){
    .section-1::before{
        height: 785px;
    }
    .sec-2-card>img{
        width: 415px;
    }
    .sec-2-card{
        width: 415px;
    }
    .s-3-left>h1{
        font-size: 30px;
        width: 300px;
    }
    .s-3-left>p{
        width: 300px;
    }
    .social-media>img{
        margin-right: 10px;
    }
    footer .div2{
        gap: 300px;
        padding: 30px 220px;
    }
}
@media screen and (max-width:900px){
    .analytics{
        gap: 13px;
        padding: 0px 250px;
    }
    .hero-right>p{
        width: 290px;
    }
    footer .div2{
        gap: 300px;
        padding: 30px 20px;
    }
}
@media screen and (max-width:800px){
    .nav-list{
        display:none;
    }
    .hero-section{
        flex-direction: column;
        
    }
    .hero-right{
        margin-top: 120px;
        width: 100%;
        margin-left: 50px;
    }
    .hero-right h4{
        font-size: 20px;
    }
    .hero-right h1{
        font-size: 3.5rem;
    }
    .hero-right p{
        width: 500px;
        margin-left: 5px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .section-1::before{
        height: 755px;
        width: 520px;
    }
    .card>img{
        width: 40px;
    }
    .card h4{
        margin: 5px 0;
        font-size: 20px;
    }
    .card p{
        font-size: 12px;
    }
    .analytics{
        gap: 13px;
        padding: 0px 140px;
    }
    .hero-right>p{
        width: 290px;
    }
    .sec-2-card>img{
        width: 340px;
        height: 250px;
    }
    .sec-2-card{
        width: 340px;
        height: 290px;
    }
    .section-3{
        margin: 60px;
    }
    .s-3-left>h1{
        font-size: 22px;
        width: 240px;
    }
    .s-3-left>p{
        width: 240px;
    }
}

@media screen and (max-width:750px){
    .sec-2-cards{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
    .sec-2-card{
        font-family: sans-serif;
        margin-bottom: 150px;
        margin-left: 60px;
        
    
    }
    .sec-2-card img{
        width: 558px;
        height: 330px;
    }
    
}
    @media screen and (max-width:600px){
    .sec-2-head{
        width: 125%;
    }
    footer{
        width: 125%;
    }
}
@media screen and (max-width:500px){
    .sec-2-head{
        width: 165%;
    }
    footer{
        width: 165%;
    }
}